.header{
   
    display: flex;
    align-items: center;
    gap: 200px;
    
}

.logo{
    font-family: "Baloo 2", sans-serif;
    font-weight:800;
    font-size: 24px;
}


.link{
    display: flex;
    gap: 40px;

}


.nav-links {
  text-decoration: none;
  color: #242635;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links:hover {
  color: #4A4FF2;   /* hover effect */
}

/* Hamburger */
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}
